/* nav section */
header {
	background-image: url("../img/places-to-visit-in-bulgaria.jpg");
	border-radius: 16px;
	padding: 20px 0 40px 0;
	background-position: top;
}

header nav {
	display: flex;
	padding: 7.5px 60px;
	margin-bottom: 140px;
}
header .logo-nav-wrapper {
	display: flex;
	gap: 48px;
	align-items: center;
	padding: 0px 170px 0 202.75px;
}

header .logo-container {
	width: 177.5px;
	height: 30px;
}

header .nav-items-container {
	display: flex;
	gap: 48px;
}

header .nav-items-container a {
	color: var(--white--color);
}

header .nav-btns-container .btn-secondary {
	border: none;
	background-color: unset;
	margin-right: 12px;
}

/* hero section */
.hero {
	color: var(--white--color);
}

.hero-information-container {
	max-width: 608px;
	margin: 0 auto 140px auto;
	text-align: center;
}

.hero-heading {
	font-size: 66px;
	font-weight: 600;
	margin-bottom: 24px;
	line-height: 120%;
}

.hero-information-container .p2-fonts {
	margin-bottom: 40px;
}

.hero .advantages-container {
	display: flex;
	justify-content: space-between;
	padding: 0px 80px;
}

.hero .advantages-container li {
	text-align: center;
}

/* landscape section */
.landscape {
	padding: 80px 31px;
}

.landscape-information-container {
	text-align: center;
	margin-bottom: 40px;
	max-width: 763px;
	margin: 0 auto 40px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.landscape-information-container h1 {
	margin-bottom: 24px;
	/* without letter spacing doesn't fit */
	letter-spacing: 1.9px;
}

.landscape-information-container p {
	max-width: 460px;
}

.landscape-cards-container {
	display: flex;
	justify-content: space-between;
}

.landscape-cards-container article {
	width: 100%;
	width: 430px;
	height: 400px;
	border-radius: 16px;
	color: var(--white--color);
	background-size: cover;
	background-position: center;
	position: relative;
	overflow: hidden;
}

.landscape-cards-container .location-container {
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding: 39.5px 0 39.5px 32px;
	background: rgb(0, 0, 0);
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 1) 100%
	);
}

.landscape-cards-container .location-container h2 {
	line-height: 1;
}

.landscape-cards-container #nesebar {
	background-image: url("../img/nessebar.png");
}

.landscape-cards-container #plovdiv {
	background-image: url("../img/plovdiv-4.jpg");
}

.landscape-cards-container #sofia {
	background-image: url("../img/1+-+15.jpeg");
}

/* our platform section */
.our-platform {
	padding: 80px 31px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.our-platform h1 {
	margin-bottom: 16px;
	letter-spacing: 2px;
}

.our-platform .p2-fonts {
	color: var(--gray--color);
	margin-bottom: 48px;
}

.our-platform-information-container {
	max-width: 589px;
	padding-left: 3px;
}

.features-container {
	display: flex;
	flex-direction: column;
	gap: 24px;
	max-width: 397px;
	margin-bottom: 48px;
}

.features-container li {
	display: flex;
	align-items: center;
	gap: 24px;
}

.features-icon-container {
	padding: 16px;
	border-radius: 50px;
}

.features-container li:nth-child(2) .features-icon-container img {
	height: 29px;
	width: 39px;
}

.features-container h3 {
	font-weight: 500;
	margin-bottom: 8px;
}

.features-container .p2-fonts {
	margin: 0;
}


.our-platform-img-container {
	max-width: 576px;
	border-radius: 16px;
	overflow: hidden;
	height: 480px;
}

.our-platform-img-container img {
	height: 100%;
	object-fit: cover;
}
